<div class='row'>
  <div class='col-md-6'>
    <h1>Contact </h1>

    <%= simple_form_for :contact, url: send_message_path do |f| %>

      <%= f.input :message, as: :text %>

      <%= f.submit class: 'btn btn-primary', value: 'Send' %>
    <% end %>
  </div>
</div>
